body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #DFF7FA;
}

/* ----------- NAV STYLES ------------- */
.navbar {
  width: 96vw;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.logo-div {
  max-width: 30vw;
  /* width: 30vw; */
  height: auto;
}

.logo {
  width: 100%;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button-holder {
  margin-top: 1vh;
  margin-right: 1.5vw;
}

.button-holder > .button {
  color: black !important;
}

.loginField {
  height: 30px !important;
  width: 100%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-right: 1.5vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

/* ------------list styles ------------------ */
ul {
  border: 1px solid black;
  overflow: scroll;
}

.list-holder, .admin-holder {
  /* border: 1px solid black; */
  padding: 2%;
  height: 50vh;
}

.list-container {
  width: 100%;
  height: auto;
  text-align: left;
  max-height: 70vh;
  overflow: scroll;
}

.admin-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 65vh;
}

.content-holder {
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.button-group {
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 96vw;
  margin-left: auto;
  margin-right: auto;
}

.button-group > .wide-button {
  margin-left: 0;
}

.two-containers {
  width: 100%;
  display: flex;
}

/* -------- modal stuff ----------- */

.Modal-Closed {
	display: none;

}

.Modal-Open {
	display: block;
	background-color: #005E6A;
	text-align: center;
	position: fixed;
	/*left: 50;*/
	height: 100px;
	width: 40%;
	margin-left: -16vw;
	box-shadow: 10px, 10px, 100px, black;
}

/* ------ FORM STYLES ------------ */
.newAdminForm {
  text-align: left;
  padding: 15px;
}

.button {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  margin-bottom: 15px;
}

button {
  color: white !important;
}

.weird-button {
  margin-left: 105px;
}

.wide-button {
  width: 230px;
  color: white !important;
  margin-left: 15px;
}

.show-text {
  margin: 15;
  line-height: 3;
}

.add-margin {
  margin-left: 15px;
}

.addStudentForm {
  width: 46vw;
  height: 40vh;
  /* text-align: center; */
}

.text-center {
  text-align: center;
}

.fixed {
  position: fixed !important;
  margin-bottom: 150px;
}

.padding-top {
  padding-top: 64px;
}

.more-height: {
  height: 50vh;
}

.upload-holder {
  width: 96vw;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}

img {
  width: 100vw;
}
